html,
body {
  height: 100%;
  font: sans-serif;
}

body {
  align-items: center;
  padding-top: 40px;
  padding-bottom: 40px;
  background-color: #ffc5c8;
  font: sans-serif;
}

header{
  height: 10vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.form-signin {
  background-color: #FFC898;
  align-items: center;
  width: 100%;
  max-width: 370px;
  padding: 15px;
  margin: auto;
  border-style: solid; 
  border-radius: 10px;
  text-align: center;
}

.form-signin .checkbox {
  font: sans-serif;
  font-weight: 400;
}

.form-signin .form-floating:focus-within {
  font: 100% sans-serif;
  z-index: 2;
  border-radius: 10px;
}

.form-signin input[type="email"] {
  font: 120% sans-serif;
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

.form-signin input[type="password"] {
  font: 120% sans-serif;
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

h1{
  font: 200% sans-serif;
  background-color: #FFC898;
}

p{
  font:sans-serif;
}

.mb-4{
  vertical-align: text-top;
}

.link:hover{
  color: red;
}

