<!DOCTYPE html>{%load static%}
<html lang="en" dir="ltr">
  <head>
    <title>Foro</title>
    <meta charset="UTF-8">
   
    <link rel="stylesheet" href="{% static 'style.css' %}">     <!--{% static 'style.css' %}-->
    <link rel="stylesheet" href="{% static 'profile-card.css' %}">    <!--{% static 'profile-card.css' %}-->
     </head>
<header>
  <div class="container">
    <input type="checkbox" style="display: none;" name="s" id="home" >

    <input type="checkbox" style="display: none;" name="s" id="test">
    <input type="checkbox" style="display: none;" name="s" id="foro" checked>
    <input type="checkbox" style="display: none;" name="s" id="perfil">
    <input type="checkbox" style="display: none;" name="s" id="sugerencias">
    <nav>

      <div class="slider"></div>
    
      
      <label class="home" for="home">
      <a href="http://127.0.0.1:8000/home">
      <i class="fas fa-home"></i>Home
      </a>
      </label> 

      <label class="test" for="test">
      <a href="http://127.0.0.1:8000/poll/"> 
      <i class="fas fa-blog"></i>Test
      </a>
      </label>

      <label class="foro" for="foro">
      <a href="http://127.0.0.1:8000/foro">
      <i class="fas fa-code"></i>Foro
      </a>
      </label>
      <label class="perfil" for="perfil">
      <a href="http://127.0.0.1:8000/perfil">
      <i class="fas fa-user"></i>Perfil
      </a>
      </label>
      <label class="sugerencias" for="sugerencias">
        <a href="http://127.0.0.1:8000/contenido_interes">
      <i class="fas fa-help"></i>Sugerencias
      </a>
      </label>
    
    </nav>
  </div>
</header>

<body>
  <center>
  <div class="card" style="height: 50%;"> 
    <form action="" method="post">{% csrf_token %}
    
      <h4>Tema del foro: </h4><br>
      <h1> 
          <input type = "text" name="topic">
      </h1>
      <br>
      <h4>Contenido del post: </h4><br>
      <h1> 
          <textarea type = "text" name="content" style="height: 100px; width: 500px;"></textarea>
      </h1>
    
    <input type="submit">

    </form>
  </div>
  </center>
  <br><br><br><br>

  {% for i in db %} {% comment "db tiene que pasarse con el context " %}{% endcomment %}

  <div class="card" style="height: 50%;"> 
    <div class="card-body">
      <h2 class="name">Autor del post: {{ i.author }} </h2>
      <div class="bio">Tema del foro: {{i.topic}}</div>
    </div>
    <br>
       <div class="name" style="size: 50%;"><A>{{i.content}}</A></div>
    <br>
      Fecha de creacion: {{i.post_date}}
    <br><br>
   
  </div>
  
  {% endfor %}

  <p class="separador">aaa</p>   
  
  <div class="abajo">
   <p class="texto_abajo" style="text-align: center;"> A continuación dejaremos nuestro twitter, donde podrás estar al tanto de nuestras novedades y futuras actualizaciones. Tambien puedes encontrar nuestro correo donde podrás contactar con nosotros o enviar sugerencias:</p>

   <p class="texto_abajo" style="text-align: center;">Twitter: 
     <a href="https://twitter.com/EsteemyWebsite">
      @EsteemyWebsite
       </a> </p>
   <p class="texto_abajo" style="text-align: center;">Correo electronico: steemywebsite@gmail.com</p>
   <p class="letra_pequeña texto_abajo">**Esta pagina web ha sido creada para un proyecto universitario,</p>
   <p class="letra_pequeña texto_abajo">le rogamos que tenga pacienca si encuentra errores,no dude en notificarnoslo a nuestro correo electronico.**</p>
   <p class="letra_pequeña texto_abajo"><a href="">Políticas de privacidad</a></p>

</div>  
</body>
<footer>
</footer>
</html>
