<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="UTF-8">
   <!----<title> Animated Image Gallery | CodingLab </title>------->
    <link rel="stylesheet" href="static/style.css">
     </head>
<header>
  <div class="container">
    <input type="radio" name="s" id="home" checked>

    <input type="radio" name="s" id="test">
    <input type="radio" name="s" id="foro">
    <!--<input type="radio" name="s" id="help">-->
    <input type="radio" name="s" id="perfil">
    <nav>

      <div class="slider"></div>
    
      
      <label class="home" for="home">
      <i class="fas fa-home"></i>Home
      </label>


      <label class="test" for="test">
      <a href="test.html"> 
      <i class="fas fa-blog"></i>Test
      </a>
      </label>

      <label class="foro" for="foro">
      <a href="foro.html">
      <i class="fas fa-code"></i>Foro
      </a>
      </label>
      <!--<label class="help" for="help">
        <i class="fas fa-envelope"></i>
      </label>-->
      <label class="perfil" for="perfil">
      <a href="perfil.html">
      <i class="fas fa-user"></i>Perfil
      </a>
      </label>
    </nav>
  </div>
</header>

<body>  
  <div class="principal">
  <section class="arriba">
    <div class="arriba_izq">
      <br>
      <h1 class="titulo">HOME</h1>
      <BR></BR>
    <p class="texto_arriba">En esta pagina web se tratara la baja autoestima y medidas toxicas para subirla en la adolescencia.
      A continución, te dejaremos unos cuestionarios (puedes acceder a ellos pulsando la pestaña "Test") 
      por si desea realizarlo y te daremos una serie de consejos practicos dependiendo del diagnostico. </p>
    </div>
    <div class="arriba_der">
      <br>
      <br>
      <br>
      <img src="prueba.jpg" alt="imagen">
    </div>
  </section>
      
  
    <div class="abajo">
     <p class="texto_abajo">Contacte con nosotros:</p>
     <p class="texto_abajo">Twitter: 
       <a href="https://twitter.com/EsteemyWebsite">
        @EsteemyWebsite
         </a> </p>
     <p class="texto_abajo">Correo electronico: steemywebsite@gmail.com</p>
     <p class="letra_pequeña texto_abajo">**Esta pagina web ha sido creada por un proyecto universitario,puede contener errores.**</p>

    </div>
  </div>
</body>

</html>
