<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="UTF-8">
   <!----<title> Animated Image Gallery | CodingLab </title>------->
    <link rel="stylesheet" href="{% static 'style.css' %}">  
     </head>
<header>
  <div class="container">
    <input type="radio" name="s" id="home" checked>

    <input type="radio" name="s" id="test">
    <input type="radio" name="s" id="foro">
    <!--<input type="radio" name="s" id="help">-->
    <input type="radio" name="s" id="perfil">
    <nav>

      <div class="slider"></div>
    
      
      <label class="home" for="home">
      <i class="fas fa-home"></i>Home
      </label>


      <label class="test" for="test">
      <a href="test.html"> 
      <i class="fas fa-blog"></i>Test
      </a>
      </label>

      <label class="foro" for="foro">
      <a href="foro.html">
      <i class="fas fa-code"></i>Foro
      </a>
      </label>
      <!--<label class="help" for="help">
        <i class="fas fa-envelope"></i>
      </label>-->
      <label class="perfil" for="perfil">
      <a href="perfil.html">
      <i class="fas fa-user"></i>Perfil
      </a>
      </label>
    </nav>
  </div>
</header>

<body>  
  <div class="principal">
  <section class="arriba">
    
    <div class="arriba_izq">
      <br>
      <h1 class="titulo">HOME</h1>
      <BR></BR>
    <p class="texto_arriba">
      En esta pagina web trataremos la autoestima y medidas toxicas para subirla en la adolescencia.
      A continución, te explicaremos los diferentes apartados de la barra de navegación:</p>
      <br>
      <p class="texto_arriba">
        -Home: Página principal de la página web donde explicamos de que trata y aparece nuestro contacto.
      </p>
      <br>
      <p class="texto_arriba">
        -Test: En esta pestaña aparecen los tests que se pueden realizar en el que tambien se le dan consejos personalizados dependeindo el diagnóstico. Tambien no encontramos el test de satifacción del cliente, para obtener feedback y mejorar poco a poco. 
      </p>
      <br>
      <p class="texto_arriba">
        -Foro: En esta pestaña encontrarás un foro donde poder chatear con las demas personas registradas. 
      </p>
      <br>
      <p class="texto_arriba">
        -Perfil: En esta pestaña encontrarás tu puntuación de los tests realizados y los datos propios del usuario.
      </p>
      <br>
      <p class="texto_arriba">
        A continuación dejaremos nuestro correo y nuestro twitter, donde podrás estar al tanto de nuestras novedades y futuras actualizaciones.
      </p>
    </div>  
    <div class="arriba_der">
      <br>
      <br>
      <br>
      <img src="prueba.jpg" alt="imagen">
      <img src="Logo_pequeño.png" alt="imagen">
    </div>  
    </div>
    
  </section>
  
  <p class="separador">aaa</p>   
  
    <div class="abajo">
     <p class="texto_abajo">Contacte con nosotros:</p>
     <p class="texto_abajo">Twitter: 
       <a href="https://twitter.com/EsteemyWebsite">
        @EsteemyWebsite
         </a> </p>
     <p class="texto_abajo">Correo electronico: steemywebsite@gmail.com</p>
     <p class="letra_pequeña texto_abajo">**Esta pagina web ha sido creada para un proyecto universitario,</p>
     <p class="letra_pequeña texto_abajo">le rogamos que tenga pacienca si encuentra errores,no dude en notificarnoslo a nuestro correo electronico.**</p>

    </div>
  </div>
</body>

</html>
