<!DOCTYPE html>
<!-- Created By CodingLab - www.codinglabweb.com -->
<html lang="en" dir="ltr">
  <head>
    <meta charset="UTF-8">
   <!----<title> Animated Image Gallery | CodingLab </title>------->
    <link rel="stylesheet" href="../../static/style.css">
     </head>
<header>
  <div class="container">
    <input type="radio" name="s" id="home">
    <input type="radio" name="s" id="test">
    <input type="radio" name="s" id="foro">
    <input type="radio" name="s" id="perfil" checked>
    <nav>

      <div class="slider"></div>

      <label class="home" for="home">
      <a href="home.html">
      <i class="fas fa-home"></i>Home
      </a>
      </label>

      <label class="test" for="test">
      <a href="test.html">
      <i class="fas fa-blog"></i>Test
      </a>
      </label>

      <label class="foro" for="foro">
      <a href="foro.html">
      <i class="fas fa-code"></i>Foro
      </a>
      </label>
    
      <label class="perfil" for="perfil">
      <i class="fas fa-user"></i>Perfil
      </label>
      
    </nav>
  </div>
</header>

<body>
  <h1>
    PERFIL
  </h1>

</body>
</html>
