<!DOCTYPE html>
<!-- Created By CodingLab - www.codinglabweb.com -->
<html lang="en" dir="ltr">
  <head>
    <meta charset="UTF-8">
   <!----<title> Animated Image Gallery | CodingLab </title>------->
    <link rel="stylesheet" href="../../static/style.css">
    <link rel="stylesheet" href="../../static/profile-card.css">
     </head>
<header>
  <div class="container">
    <input type="radio" name="s" id="home">
    <input type="radio" name="s" id="test">
    <input type="radio" name="s" id="foro">
    <input type="radio" name="s" id="perfil" checked>
    <nav>

      <div class="slider"></div>

      <label class="home" for="home">
      <a href="home.html">
      <i class="fas fa-home"></i>Home
      </a>
      </label>

      <label class="test" for="test">
      <a href="test.html">
      <i class="fas fa-blog"></i>Test
      </a>
      </label>

      <label class="foro" for="foro">
      <a href="foro.html">
      <i class="fas fa-code"></i>Foro
      </a>
      </label>
    
      <label class="perfil" for="perfil">
      <i class="fas fa-user"></i>Perfil
      </label>
      
    </nav>
  </div>
</header>

<body>
  <div class="card">
    <div class="card-header"
  style="background-image: url(logo.png)">
    
    </div>

    <div class="card-body">
        <h2 class="name">Nombre usuario</h2>
        <h4 class="job-title">correo: user@gmail.com</h4>
        <div class="bio"><A>Aquí puedes comprobar tus puntuaciones:</A></div>
        <div class="social-accounts">
        </div>
    </div>

    <div class="card-footer">
        <div class="stats">
            <div class="stat">
              <span class="label">PRIMER TEST</span>
              <span class="value">100</span>
            </div>
            <div class="stat">
              <span class="label">SEGUNDO TEST</span>
              <span class="value">100</span>
            </div>
        </div>
    </div>
</div>

</body>
</html>
