<!DOCTYPE html>
{%load static%}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Políticas de Privacidad</title>
    <link rel="canonical" href="https://getbootstrap.com/docs/5.1/examples/sign-in/">
    <link rel="stylesheet" href="{% static 'style.css' %}">  <!--{% static 'style.css' %}-->
    <link rel="stylesheet" href="{% static 'profile-card_p.css' %}">  <!--{% static 'profile-card_p.css' %}-->
    <link href="{% static 'singin.css' %}" rel="stylesheet"> <!-- {% static 'singin.css' %} -->

    <style>
      .bd-placeholder-img {
        font-size: 1.125rem;
        text-anchor: middle;
        -webkit-user-select: none;
        -moz-user-select: none;
        user-select: none;
      }

      @media (min-width: 768px) {
        .bd-placeholder-img-lg {
          font-size: 3.5rem;
      }
    }

      header{
        height: 10vh;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #fff;
      }
    </style>
</head>
<body>
    <header>
        <br><br>
        <div class="container">
         <img src="{% static 'Logo sin fondo.png' %}" alt="imagen" width="100%" height="100%" style="background-color: #fff;"><!-- {% static 'Logo sin fondo.png' %} -->
        </div>
        
    
      </header>
      <body style="background-color: #fff;">   
      
      <br><br>  
    <div class="card"> 
        <br>
        <h1 style="text-align:center;">Política de privacidad</h1><br>
        <br>
        
        <p style="text-align:center;margin-left: 5px;margin-right: 5px;">La presente Política de Privacidad establece los términos en que ESTEEMY usa y protege la información que es proporcionada por sus usuarios al momento de utilizar su sitio web. Esta compañía está comprometida con la seguridad de los datos de sus usuarios. Cuando le pedimos llenar los campos de información personal con la cual usted pueda ser identificado, lo hacemos asegurando que sólo se empleará de acuerdo con los términos de este documento. Sin embargo, esta Política de Privacidad puede cambiar con el tiempo o ser actualizada por lo que le recomendamos y enfatizamos revisar continuamente esta página para asegurarse que está de acuerdo con dichos cambios.  </p><br>

          <h3 style="text-align:center;">Información que es recogida</h3><br>
          
          <p style="text-align:center;margin-left: 5px;margin-right: 5px;">Nuestro sitio web recogerá información personal, en concreto: Nombre, información de contacto como su dirección de correo electrónica y los datos obtenidos en la realización de los distintos test disponibles en ESTEEMY. </p><br>
          
          <h3 style="text-align:center;">Uso de la información recogida</h3><br>
          
          <p style="text-align:center;margin-left: 5px;margin-right: 5px;">Nuestro sitio web emplea la información con el fin de proporcionar el mejor servicio posible, particularmente para mantener un registro de usuarios, y mejorar nuestros productos y servicios.  Es posible que sean enviados correos electrónicos a través de nuestro sitio con información publicitaria que consideremos relevante para usted o que pueda brindarle algún beneficio, estos correos electrónicos serán enviados a la dirección que usted proporcione y podrán ser cancelados en cualquier momento.
          
          ESTEEMY está altamente comprometido para cumplir con el compromiso de mantener su información segura. Usamos los sistemas más avanzados y los actualizamos constantemente para asegurarnos que no exista ningún acceso no autorizado.</p><br>
          
          <h3 style="text-align:center;">Responsable de la privacidad</h3><br>
          
          <p style="text-align:center;margin-left: 5px;margin-right: 5px;">La presente Política de Privacidad nombra a Mario Martinez Dominguez como responsable de la privacidad de 
          ESTEEMY. Para cualquier preocupación relacionada con este aspecto, contacten con el responsable a través de mario.martinezdominguez@alum.uca.es</p><br>
          
          
          <h3 style="text-align:center;">Enlaces a Terceros</h3><br>
          
          <p style="text-align:center;margin-left: 5px;margin-right: 5px;">Este sitio web pudiera contener enlaces a otros sitios que pudieran ser de su interés. Una vez que usted de clic en estos enlaces y abandone nuestra página, ya no tenemos control sobre al sitio al que es redirigido y por lo tanto no somos responsables de los términos o privacidad ni de la protección de sus datos en esos otros sitios terceros. Dichos sitios están sujetos a sus propias políticas de privacidad por lo cual es recomendable que los consulte para confirmar que usted está de acuerdo con estas.</p><br>
          
         <h3 style="text-align:center;"> Control de su información personal</h3><br>
          
         <p style="text-align:center;margin-left: 5px;margin-right: 5px;">En cualquier momento usted puede restringir la recopilación o el uso de la información personal que es proporcionada a nuestro sitio web.  
          Esta compañía no venderá, cederá ni distribuirá la información personal que es recopilada sin su consentimiento, salvo que sea requerido por un juez con una orden judicial.</p><br>
          
          <h3 style="text-align:center;">Ejerza sus derechos</h3><br>
          
          <p style="text-align:center;margin-left: 5px;margin-right: 5px;">En ESTEEMY nos preocupamos mucho por su privacidad. Si desea ejercer el derecho al olvido no dude en contactar con el responsable de la privacidad
          de nuestra organización. </p><br>
          
          <p style="text-align:center;margin-left: 5px;margin-right: 5px;">ESTEEMY se reserva el derecho de cambiar los términos de la presente Política de Privacidad en cualquier momento.</p>
        
        <br>
        <p class="mt-5 mb-3 text-muted" style="text-align:center;">&copy; 2021–2022</p>
   
    </div>
    <br>
        
      </body>
    </html>
</body>
</html>