
{% load static %}
<link rel="stylesheet" href="{% static 'headers.css' %}">
<h3 >REGISTRO</h3>
<h1>
<img src="{% static 'LOGO.png' %}" alt="My image"></h1>
<hr>
<h2>INDIQUE SUS CREDENCIALES</h2>
<form action="" method="post">{% csrf_token %}
    <h4>Correo Electronico</h4>
    <h1>    
        <input type="text" name="mail">
    </h1>
    <h4>Nombre de Usuario</h4>
    <h1>
        <input type="text" name="nickname">
    </h1>
    <h4>Contraseña</h4>
    <h1>
        <input type="password" name="password">
    </h1>
    <input type="submit">

</form>

