{% load static %}
<link rel="stylesheet" href="{% static 'headers.css' %}">
<h3 >PROBANDO COSAS</h3>
<h1>
<img src="{% static 'LOGO.png' %}" alt="My image"></h1>
<hr>
<h2>ESTO ES UNA PRUEBA DE PASARLE UN VALOR A HTML</h2>
<h4>PASALE DOS NUMEROS PARA SUMARLOS</h5>


<h1>pregunta1
    <h5>
    {{consejo_1}}
    </h5>
    
</h1> <!-- Un doble llave de toda la vida, es decir lo pasamos como un formulario. El nombre viene determinado por el backend asi que a unas malas lo dejais vacio y luego hablamo -->
 <h1>pregunta2
    <h5>
    {{consejo_2}}
    </h5>

 </h5>
 <h1>pregunta3
    <h5>
    {{consejo_3}}
    </h5>

 </h1>