<html>
    <head>
        This is the head of your page
        <title>Example HTML page</title>
    </head>
    <body>
        <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-6875064253340278"
     crossorigin="anonymous"></script>
<!-- cubo -->
<ins class="adsbygoogle"
     style="display:block"
     data-ad-client="ca-pub-6875064253340278"
     data-ad-slot="3468068223"
     data-ad-format="auto"
     data-full-width-responsive="true"></ins>
<script>
     (adsbygoogle = window.adsbygoogle || []).push({});
</script>
    </body>
</html>
