<html>
<title>Mucha grasia Poll</title>
<form action="" method="post">
{% csrf_token %}
    <h1>Encuesta 1</h1>
    <h2> 
        
       <input type="radio" name="poll" value="option1" required>ta mal
        {{ PruebaPollform.value }}
        <input type="radio" name="poll" value="option2" required>ta bien
        {{ PruebaPollform.value }}
        <input type="radio" name="poll" value="option3" required>ta loco
        {{ PruebaPollform.value }}
        
    </h2>
    <input type="submit"></input>

</form>

</html>