<!DOCTYPE html>
<html lang="en">
<head>
{%load static%}
<title>Test's</title>
  <meta charset="utf-8">
  <link rel="canonical" href="https://getbootstrap.com/docs/5.1/examples/pricing/">
  <link href="{% static 'bootstrap.min.css' %}" rel="stylesheet">   <!--  {% static 'bootstrap.min.css' %} -->
  <link href="{% static 'style.css' %}" rel="stylesheet">   <!-- {% static 'style.css' %} -->
</head>

<header>
  <div class="container">
    <input type="checkbox" style="display: none;" name="s" id="home">
    <input type="checkbox" style="display: none;" name="s" id="test" checked>
    <input type="checkbox" style="display: none;" name="s" id="foro">
    <!--<input type="radio" name="s" id="help">-->
    <input type="checkbox" style="display: none;" name="s" id="perfil">
    <nav>

      <div class="slider"></div>

      <label class="home" for="home">
      <a href="http://161.35.37.208:8000/app/home">
      <i class="fas fa-home"></i>Home
      </a>
      </label>

      <label class="test" for="test">
      <i class="fas fa-blog"></i>Test
      </label>

      <label class="foro" for="foro">
      <a href="http://161.35.37.208:8000/app/foro">
      <i class="fas fa-foro"></i>Foro
      </a>
      </label>
    
      <label class="perfil" for="perfil">
      <a href="http://161.35.37.208:8000/app/perfil">
      <i class="fas fa-user"></i>Perfil
      </a>
      </label>
      
    </nav>
  </div>
</header>

<body>
  <svg xmlns="http://www.w3.org/2000/svg" style="display: none;">
    <symbol id="check" viewBox="0 0 16 16">
      <title>Check</title>
      <path d="M13.854 3.646a.5.5 0 0 1 0 .708l-7 7a.5.5 0 0 1-.708 0l-3.5-3.5a.5.5 0 1 1 .708-.708L6.5 10.293l6.646-6.647a.5.5 0 0 1 .708 0z"/>
    </symbol>
  </svg>
  <div class="pricing-header p-3 pb-md-4 mx-auto text-center">
    <h1 class="display-4 fw-normal">TEST'S</h1>
    <br>
    <p class="fs-5 text-muted">A continuacion, tendrás a tu disposición los diferentes test que puedes realizar:</p>
  </div>
    
  <div class="row row-cols-1 row-cols-md-3 mb-3 text-center">
      <div class="col">
        <div class="card mb-4 rounded-3 shadow-sm">
          <div class="card-header py-3">
            <h4 class="my-0 fw-normal">PRIMER TEST</h4>
          </div>
          <div class="card-body">
            <p>Test genérico</p>
            <br>
            <p>Diagnóstico base de tu nivel de autoestima</p>
              <a href="http://161.35.37.208:8000/app/poll/test1">
                <button type="button" class="w-100 btn btn-lg btn-primary">Comenzar</button>
              </a>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card mb-4 rounded-3 shadow-sm">
          <div class="card-header py-3">
            <h4 class="my-0 fw-normal">SEGUNDO TEST</h4>
          </div>
          <div class="card-body">
            <p>En desarrollo</p>
            <br>
            <br>
            <p></p>
            <button type="button" class="w-100 btn btn-lg btn-primary">Comenzar</button>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card mb-4 rounded-3 shadow-sm">
          <div class="card-header py-3">
            <h4 class="my-0 fw-normal">SATISFACCIÓN</h4>
          </div>
          <div class="card-body">
            <p>¿Qué te ha parecido nuestro servicio?</p>
            <br>
            <p>Toda opinion es bienvenida</p>
              <a href="http://161.35.37.208:8000/app/poll/satisfaccion">
                <button type="button" class="w-100 btn btn-lg btn-primary">Comenzar</button>
              </a>
          </div>
        </div>
      </div>
    </div>
</body>
</html>
