<!DOCTYPE html>
<html lang="en">
<head>
{%load static%}
<title>Test</title>
  <meta charset="utf-8">
  <link rel="canonical" href="https://getbootstrap.com/docs/5.1/examples/pricing/">
  <link href="../../static/bootstrap.min.css" rel="stylesheet">   <!--  {% static 'bootstrap.min.css' %} -->
  <link href="../../static/style.css" rel="stylesheet">   <!-- {% static 'style.css' %} -->
</head>

<header>
  <div class="container">
    <input type="checkbox" style="display: none;" name="s" id="home" >

    <input type="checkbox" style="display: none;" name="s" id="test" checked>
    <input type="checkbox" style="display: none;" name="s" id="foro">
    <input type="checkbox" style="display: none;" name="s" id="perfil">
    <input type="checkbox" style="display: none;" name="s" id="sugerencias">
    <nav>

      <div class="slider"></div>
    
      
      <label class="home" for="home">
      <a href="http://127.0.0.1:8000/home">
      <i class="fas fa-home"></i>Home
      </a>
      </label> 


      <label class="test" for="test">
      <a href="http://127.0.0.1:8000/poll/"> 
      <i class="fas fa-blog"></i>Test
      </a>
      </label>

      <label class="foro" for="foro">
      <a href="http://127.0.0.1:8000/foro">
      <i class="fas fa-code"></i>Foro
      </a>
      </label>
      <label class="perfil" for="perfil">
      <a href="http://127.0.0.1:8000/perfil">
      <i class="fas fa-user"></i>Perfil
      </a>
      </label>
      <label class="sugerencias" for="sugerencias">
        <a href="http://127.0.0.1:8000/contenido_interes">
      <i class="fas fa-help"></i>Sugerencias
      </a>
      </label>
    
    </nav>
  </div>
</header>

<body>
  <svg xmlns="http://www.w3.org/2000/svg" style="display: none;">
    <symbol id="check" viewBox="0 0 16 16">
      <title>Check</title>
      <path d="M13.854 3.646a.5.5 0 0 1 0 .708l-7 7a.5.5 0 0 1-.708 0l-3.5-3.5a.5.5 0 1 1 .708-.708L6.5 10.293l6.646-6.647a.5.5 0 0 1 .708 0z"/>
    </symbol>
  </svg>
  <div class="pricing-header p-3 pb-md-4 mx-auto text-center">
    <h1 class="display-4 fw-normal">TEST</h1>
    <br>
    <p class="ftitulo gris" style="color: black;">A continuación, tendrás a tu disposición los diferentes test que puedes realizar:</p>
  </div>

  <div class="row row-cols-1 row-cols-md-3 mb-3 text-center">
      <div class="col">
        <div class="card mb-4 rounded-3 shadow-sm">
          <div class="card-header py-3" style="background-color: orange;">
            <h4 class="my-0 fw-normal">PRIMER TEST</h4>
          </div>
          <div class="card-body">
            <p>Test genérico</p>
            <br>
            <p>Diagnóstico base de tu nivel de autoestima</p>
              <a href="http://127.0.0.1:8000/poll/test1">
                <button type="button" class="w-100 btn btn-lg btn-primary">Comenzar</button>
              </a>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card mb-4 rounded-3 shadow-sm">
          <div class="card-header py-3" style="background-color: orange;">
            <h4 class="my-0 fw-normal">SEGUNDO TEST</h4>
          </div>
          <div class="card-body">
            <p>Test a cerca de las redes sociales</p>
            <br>
            <br>
            <p>Cuestionario sobre la relación entre la retroalimentación social y la autoestima</p>
            <a href="http://127.0.0.1:8000/poll/test2">
            <button type="button" class="w-100 btn btn-lg btn-primary">Comenzar</button>
          </a>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card mb-4 rounded-3 shadow-sm">
          <div class="card-header py-3" style="background-color: orange;">
            <h4 class="my-0 fw-normal">TERCER TEST</h4>
          </div>
          <div class="card-body">
            <p>Test sobre la familia</p>
            <br>
            <p>Cuestionario basado en la relación familiar</p>
              <a href="http://127.0.0.1:8000/poll/test3">
                <button type="button" class="w-100 btn btn-lg btn-primary">Comenzar</button>
              </a>
          </div>
        </div>
      </div>
    
    <br>
    <div class="col" style="opacity: 0%;">hola</div>
    <div class="col">
      <div class="card mb-4 rounded-3 shadow-sm">
        <div class="card-header py-3" style="background-color: orange;">
          <h4 class="my-0 fw-normal">SATISFACCIÓN</h4>
        </div>
        <div class="card-body">
          <p>¿Qué te ha parecido nuestro servicio?</p>
          <br>
          <p>Toda opinion es bienvenida</p>
            <a href="http://127.0.0.1:8000/poll/satisfaccion">
              <button type="button" class="w-100 btn btn-lg btn-primary">Comenzar</button>
            </a>
        </div>
      </div>
    </div>
  </div>

  <p class="separador">aaa</p>   
  
    <div class="abajo">
     <p class="texto_abajo" style="text-align: center;"> A continuación dejaremos nuestro twitter, donde podrás estar al tanto de nuestras novedades y futuras actualizaciones. Tambien puedes encontrar nuestro correo donde podrás contactar con nosotros o enviar sugerencias:</p>

     <p class="texto_abajo" style="text-align: center;">Twitter: 
       <a href="https://twitter.com/EsteemyWebsite">
        @EsteemyWebsite
         </a> </p>
     <p class="texto_abajo" style="text-align: center;">Correo electronico: steemywebsite@gmail.com</p>
     <p class="letra_pequeña texto_abajo">**Esta pagina web ha sido creada para un proyecto universitario,</p>
     <p class="letra_pequeña texto_abajo">le rogamos que tenga pacienca si encuentra errores,no dude en notificarnoslo a nuestro correo electronico.**</p>
     <p class="letra_pequeña texto_abajo"><a href="http://127.0.0.1:8000/politicas">Políticas de privacidad</a></p>

  </div>
 </body>
</html>
