
<!DOCTYPE html>
{% load static %}
<html lang="en" dir="ltr">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{% static 'style.css' %}">
    <link href="{% static 'test-generico.css' %}" rel="stylesheet">
</head>
<header>
    <div class="container">
      <input type="radio" name="s" id="home">
  
      <input type="radio" name="s" id="test" checked>
      <input type="radio" name="s" id="foro">
      <!--<input type="radio" name="s" id="help">-->
      <input type="radio" name="s" id="perfil">
      <nav>
  
        <div class="slider"></div>
      
        
        <label class="home" for="home">
        <i class="fas fa-home"></i>Home
        </label>
  
  
        <label class="test" for="test">
        <a href="http://127.0.0.1:8000/app/poll/"> 
        <i class="fas fa-blog"></i>Test
        </a>
        </label>
  
        <label class="foro" for="foro">
        <a href="http://127.0.0.1:8000/app/foro">
        <i class="fas fa-code"></i>Foro
        </a>
        </label>
        <!--<label class="help" for="help">
          <i class="fas fa-envelope"></i>
        </label>-->
        <label class="perfil" for="perfil">
        <a href="http://127.0.0.1:8000/app/perfil">
        <i class="fas fa-user"></i>Perfil
        </a>
        </label>
      </nav>
    </div>
  </header>

<body class = "text">
    <br>
    <br>
      
          <h2>1. Me considero valios@, válid@ y digno de amor y respeto.</h2>
            <p> Lo más importante que tienes que saber para alcanzar una alta autoestima es trabajar en tu autoconcepto, porque a diferencia de la autoestima, este no depende de los demás , tener una buena percepcion de nosotros mismos es el primer paso y más importante a tener una alta autoestima.</p>          
              
          <br>
          <br>
          <h2>2. Intento cambiar mis rasgos físicos para agradar a los demas sin estar convencid@ de que me gustan estos cambios.</h2>
          <p>En vez de cambiar tus rasgos fisicos para conseguir algo , puedes probar a conseguir eso de otra forma, cultivando otras habilidades, como al empatia, el buen humor...</p>
              
             
          <br>
          <br>
          <h2>3. Tengo claro cuales son mis puntos fuertes, que tengo de bueno, y me apoyo en ellos.</h2> 
             
          <p>Identificar nuestros puntos fuertes es una manera de conocernos mejor, te darán pista sobre en que puedes mejorar y en como sacarte partido a ti mism@.</p>
            
           
          <br>
          <br>
          <h2>4. Suelo compararme con los demás, ver en que soy peor o mejor.</h2> 
                  
          <p>A la hora de compararte con los demás, intenta cambiar el pensamiento de "soy mejor o peor en esto" a pensar en que me identifico con los demás , o que tenemos en común, que podemos aprender uno del otro.</p>
        
          <br>     
          <br>
          <h2>5. Suelo hacerme preguntas como: ¿Qué quiero?, ¿Qué necesito?.</h2> 
                  
         <p> Identifica lo que quieres alcanzar, persiguelo, intenta dedicarle tiempo a las cosas que te importan, así te estarás otorgando tiempo a ti mismo. Si no, es posible que te dejes llevar por los deseos de los demás, modas que no coinciden con lo que quieres etc...</p>    
                     
          
          <br>    
          <br>
          <h2>6. Suelo recriminarme duramente cada vez que cometo un error.</h2> 
                  
          <p>Es fundamental diferenciar entre críticas constructivas a ti mism@ para aprender de los errores que señalarte para hacerte daño. El crecimiento personal es fruto de la motivacion, no del fustigamiento. Intenta convertir esa voz negativa en constructiva
          </p>

          <br>    
          <br>
          <h2>7. Me trato con cariño, respeto y compasión, de la misma manera que trato a las personas que quiero.</h2> 
                  
          <p>Vamos a tener que convivir con nosotros mismos el resto de nuestra vida, no hay nada peor que no estar agusto contigo mism@, y el que cómo te hablas es fundamental, háblate con más cariño, reconoce y valora tus logros, admite tus errores y aplicalos como un aprendizaje, es decir, practica un lenguaje interior más positivo, en lugar de estar constantemente criticandote y juzgandote.</p>   
          
          <br>    
          <br>
          <h2>8. Cuando no cumplo mis metas y objetivos después de haberme esforzado en ellos, me cuesta mucho seguir adelante.</h2> 
                  <p>Cuando no se cumplan tus metas recuerda que tu esencia es mas que la suma de un examen suspendido, una relación rota, ese empleo en el que no te eligieron...nuestro valor no tiene nada que ver con nuestro desempeño en situaciones puntuales.</p>
          
          <br>
          <br>
          <h2>9. Acepto mi cuerpo tal y como es.</h2> 
                  
             <p> No dejes que la opinión publica/modas sea la que decida que es lo que t gusta de tu cuerpo, sé capaz de valorar aquellas cosas que te gustan por encima de aquellas que no. 
            </p>
          
          
          <br> 
          <br>
          <h2>10. Me frusto mucho cuando no cumplo las expectativas de los demas.</h2> 

          <p>Te recomiendo vigilar de cerca la influencia de las expectativas, intenta reducir especialmente las negativas o infundadas. Así también estarás evitando que los demás te traten en base a lo que esperan de ti en vez de en base a cómo eres.</p>

          <br>
          <br>
          <h2>11. Intento mejorar en aquello que no me gusta de mi mism@.</h2> 
                  
             <p> El primer paso para mejorar lo que no te gusta de ti mism@ es darte cuenta de si eso es realmente algo que no te gusta o en cambio es algo condicionado por los demás. Por otro lado, trabajar en cambiar las cosas que no te gusten de ti, es decir, estar mas agusto con nosotros mismos es la base para construir una alta autoestima.
            </p>
         
          <br>
          <br>
          <h2>12. Las malas experiencias del pasado me limitan hacia el futuro.</h2> 
                 
          <p>Eres más que esos miedos que no logras superar, tu pasado no te define, fue un aprendizaje, no una sentencia de por vida.No eres perfecto, puedes tener fallos, aceptar que lo que una vez pasó no tiene porqué volver a suceder. Anclarse al pasado puede ser muy limitante, trata en vez de recriminarte tanto en aprender de ello.</p>

          <br>
          <br>
          <h2>13. No me culpo de las cosas que me suceden que escapan a mi control.</h2> 
                  
             <p> Es muy importante no formar tu identidad y medir nuestro valor en base a casos que por sucesos externos que escapan a nuestro control. Porque en el momento en que eso ocurre tu autoestima puede bajar estrepitosamente.</p>
          

          <br>
          <br>
          <h2>14. En mi dia a dia suelo tomar decisiones sobre lo que quiero hacer y como.</h2> 
                  
             <p> Si nunca tomas decisiones por ti mism@ no conseguiras tus objetivos, si no las tomás te será más dificil encauzar tu vida por el que camino que quieres.</p>
         
           
          <br>
          <br>
          <h2>15. Se me acepta tal y como soy en los grupos en los que formo parte.</h2> 
                  
             <p>Lo mas saludable para ti es buscar grupos donde no tengas que reprimir tu forma de ser para poder pertenecer a el, porque aunque el efecto inmediato pueda sentirse bien, esto crea un problema a la larga de identidad, por lo tanto, rodearse de gente con la que puedes ser tu mism@, donde puedas desarrollarte como persona, es un gran paso para tener una alta autoestima.
            </p>
          
          
          
          <br>
          <br>
          <h2>16. Suelo perder energia enfrascandome en conflictos que me voy encontrando en vez de focalizar esta energia a lo que quiero alcanzar.</h2> 
                  
          <p> Una cosa muy importante que podrías planterte respecto a tus relaciones es: ¿Te aportan para crecer?, ¿puedo aportar?, ¿encauzo mi energia a los lugares apropiados?.</p>
            
          <br>
          <br>
          <h2>17. La personas cercanas a mi(padres, amig@s,pareja...) me felicitan por mis logros, me motivan a seguir con mis objetivos.</h2> 
                  
             <p> Vivir en un ambiente de aprendizaje y desarrollo donde las personas que te rodean y que aprecias te valoran por quien eres es el mejor escenario posible para aumentar tu autoestima , intenta rodearte de este tipo de personas.</p>
          
          
          <br>
          <br>
          <h2>18. Mi estabilidad emocional está totalmente ligada a algunas personas o a mi identidad dentro de algun grupo(familia,trabajo...).</h2> 
                  
         <p>Está muy bien tener conexiones cercanas con las personas que aprecias, y es importante saber diferenciar a quien merece abrirnos de quien no. Sin embargo, si existe una dependencia emocional estás entregando la llave de tu bienestar a otra persona, cuando el dueño eres solo tú.</p>
          
          <br> 
          <br>    
        
      <p>{{consejo}}</p>
</body>
  </html>