<!-- CAMBIAR LOS RADIO POR radio Y ESPACIAR LAS RESPUESTAS -->
<!DOCTYPE html>
{% load static %}
<html lang="en" dir="ltr">
<head>
    <meta charset="UTF-8">
    <title>Test generico</title>
    <link rel="stylesheet" href="{% static 'style.css' %}">
    <link href="{% static 'test-generico.css' %}" rel="stylesheet">
</head>
<header>
    <div class="container">
      <input type="radio" style="display: none;" name="s" id="home">
  
      <input type="radio" style="display: none;" name="s" id="test" checked>
      <input type="radio" style="display: none;" name="s" id="foro">
      <!--<input type="radio" name="s" id="help">-->
      <input type="radio" style="display: none;" name="s" id="perfil">
      <nav>
  
        <div class="slider"></div>
      
        
        <label class="home" for="home">
          <a href="http://127.0.0.1:8000/app/home/">
        <i class="fas fa-home"></i>Home
        </a>
        </label>
  
  
        <label class="test" for="test">
        <i class="fas fa-blog"></i>Test
        </label>
  
        <label class="foro" for="foro">
        <a href="http://127.0.0.1:8000/app/foro">
        <i class="fas fa-code"></i>Foro
        </a>
        </label>
        <!--<label class="help" for="help">
          <i class="fas fa-envelope"></i>
        </label>-->
        <label class="perfil" for="perfil">
        <a href="http://127.0.0.1:8000/app/perfil">
        <i class="fas fa-user"></i>Perfil
        </a>
        </label>
      </nav>
    </div>
  </header>

<body class = "text">
    <br>
    <br>
    <form action="" method="post">
      
          <h2>1. Me considero valios@, válid@ y digno de amor y respeto.</h2>

            <!-- Cuidado con los  -->
             <div>
             <label><input type="radio"  name="poll1" value="option1" >Muy en desacuerdo</label>
              <br>
              <label><input type="radio" name="poll1" value="option2" >En desacuerdo</label>
              <br>
              <label><input type="radio" name="poll1" value="option3" >De acuerdo</label>
              <br>
              <label><input type="radio" name="poll1" value="option4" >Muy de acuerdo</label>
              </div>

          <br>
          <br>
          <h2>2. Intento cambiar mis rasgos físicos para agradar a los demas sin estar convencid@ de que me gustan estos cambios.</h2>
          <div>
             <label><input type="radio" name="poll2" value="option4" >Muy en desacuerdo</label>
             <br>
              <label><input type="radio" name="poll2" value="option3" >En desacuerdo</label>
              <br>
              <label><input type="radio" name="poll2" value="option2" >De acuerdo</label>
              <br>
              <label><input type="radio" name="poll2" value="option1" >Muy de acuerdo</label>
              <br>
            </div>
          <br>
          <br>
          <h2>3. Tengo claro cuales son mis puntos fuertes, que tengo de bueno, y me apoyo en ellos.</h2> 
              
          <div>
            <label><input type="radio" name="poll3" value="option1" >Muy en desacuerdo</label>
            <br>
            <label><input type="radio" name="poll3" value="option2" >En desacuerdo</label>
            <br>
            <label><input type="radio" name="poll3" value="option3" >De acuerdo</label>
            <br>
            <label><input type="radio" name="poll3" value="option4" >Muy de acuerdo</label>
          
          </div>
          <br>
          <br>
          <h2>4. Suelo compararme con los demás, ver en que soy peor o mejor.</h2> 
          <div> 
          <label><input type="radio" name="poll4" value="option4" >Muy en desacuerdo</label>
          <br>
           <label><input type="radio" name="poll4" value="option3" >En desacuerdo</label>
           <br>
           <label><input type="radio" name="poll4" value="option2" >De acuerdo</label>
           <br>
           <label><input type="radio" name="poll4" value="option1" >Muy de acuerdo</label>
           <br>    
          </div> 
          <br>     
          <br>
          <h2>5. Suelo hacerme preguntas como: ¿Qué quiero?, ¿Qué necesito?.</h2> 
                  
          <div>  
          <label><input type="radio" name="poll5" value="option1" >Muy en desacuerdo</label>
          <br>
          <label><input type="radio" name="poll5" value="option2" >En desacuerdo</label>
          <br>
          <label><input type="radio" name="poll5" value="option3" >De acuerdo</label>
          <br>
          <label><input type="radio" name="poll5" value="option4" >Muy de acuerdo</label>
          </div>
              
          
          <br>    
          <br>
          <h2>6. Suelo recriminarme duramente cada vez que cometo un error.</h2> 
          <div>       
          <label><input type="radio" name="poll6" value="option4" >Muy en desacuerdo</label>
          <br>
           <label><input type="radio" name="poll6" value="option3" >En desacuerdo</label>
           <br>
           <label><input type="radio" name="poll6" value="option2" >De acuerdo</label>
           <br>
           <label><input type="radio" name="poll6" value="option1" >Muy de acuerdo</label>
           <br>
          </div> 

          <br>    
          <br>
          <h2>7. Me trato con cariño, respeto y compasión, de la misma manera que trato a las personas que quiero.</h2> 
                  
          <div>   
          <label><input type="radio" name="poll7" value="option1" >Muy en desacuerdo</label>
          <br>
          <label><input type="radio" name="poll7" value="option2" >En desacuerdo</label>
          <br>
          <label><input type="radio" name="poll7" value="option3" >De acuerdo</label>
          <br>
          <label><input type="radio" name="poll7" value="option4" >Muy de acuerdo</label>
          </div>
          
          <br>    
          <br>
          <h2>8. Cuando no cumplo mis metas y objetivos después de haberme esforzado en ellos, me cuesta mucho seguir adelante.</h2> 
          
          <div>
          <label><input type="radio" name="poll8" value="option4" >Muy en desacuerdo</label>
          <br>
           <label><input type="radio" name="poll8" value="option3" >En desacuerdo</label>
           <br>
           <label><input type="radio" name="poll8" value="option2" >De acuerdo</label>
           <br>
           <label><input type="radio" name="poll8" value="option1" >Muy de acuerdo</label>
           <br>
          </div>    
          <br>
          <br>
          <h2>9. Acepto mi cuerpo tal y como es.</h2> 
                  
          <div>  
          <label><input type="radio" name="poll9" value="option1" >Muy en desacuerdo</label>
          <br>
          <label><input type="radio" name="poll9" value="option2" >En desacuerdo</label>
          <br>
          <label><input type="radio" name="poll9" value="option3" >De acuerdo</label>
          <br>
          <label><input type="radio" name="poll9" value="option4" >Muy de acuerdo</label>
          </div> 
             
          
          <br> 
          <br>
          <h2>10. Me frusto mucho cuando no cumplo las expectativas de los demas.</h2> 
          <div>
          <label><input type="radio" name="poll10" value="option4" >Muy en desacuerdo</label>
             <br>
              <label><input type="radio" name="poll10" value="option3" >En desacuerdo</label>
              <br>
              <label><input type="radio" name="poll10" value="option2" >De acuerdo</label>
              <br>
              <label><input type="radio" name="poll10" value="option1" >Muy de acuerdo</label>
              <br>
          </div>

          <br>
          <br>
          <h2>11. Intento mejorar en aquello que no me gusta de mi mism@.</h2> 
                  
          <div>  
          <label><input type="radio" name="poll11" value="option1" >Muy en desacuerdo</label>
          <br>
          <label><input type="radio" name="poll11" value="option2" >En desacuerdo</label>
          <br>
          <label><input type="radio" name="poll11" value="option3" >De acuerdo</label>
          <br>
          <label><input type="radio" name="poll11" value="option4" >Muy de acuerdo</label>
          </div>

          <br>
          <br>
          <h2>12. Las malas experiencias del pasado me limitan hacia el futuro.</h2> 
          
          <div>
          <label><input type="radio" name="poll12" value="option4" >Muy en desacuerdo</label>
             <br>
              <label><input type="radio" name="poll12" value="option3" >En desacuerdo</label>
              <br>
              <label><input type="radio" name="poll12" value="option2" >De acuerdo</label>
              <br>
              <label><input type="radio" name="poll12" value="option1" >Muy de acuerdo</label>
              <br>
          </div>
          <br>
          <br>
          <h2>13. No me culpo de las cosas que me suceden que escapan a mi control.</h2> 
                  
          <div>  
          <label><input type="radio" name="poll13" value="option1" >Muy en desacuerdo</label>
          <br>
          <label><input type="radio" name="poll13" value="option2" >En desacuerdo</label>
          <br>
          <label><input type="radio" name="poll13" value="option3" >De acuerdo</label>
          <br>
          <label><input type="radio" name="poll13" value="option4" >Muy de acuerdo</label>
          </div> 

          <br>
          <br>
          <h2>14. En mi dia a dia suelo tomar decisiones sobre lo que quiero hacer y como.</h2> 
                  
          <div>  
          <label><input type="radio" name="poll14" value="option1" >Muy en desacuerdo</label>
          <br>
          <label><input type="radio" name="poll14" value="option2" >En desacuerdo</label>
          <br>
          <label><input type="radio" name="poll14" value="option3" >De acuerdo</label>
          <br>
          <label><input type="radio" name="poll14" value="option4" >Muy de acuerdo</label>
          </div>
           
          <br>
          <br>
          <h2>15. Se me acepta tal y como soy en los grupos en los que formo parte.</h2> 
                  
          <div>   
          <label><input type="radio" name="poll15" value="option1" >Muy en desacuerdo</label>
            <br>
            <label><input type="radio" name="poll15" value="option2" >En desacuerdo</label>
              <br>
              <label><input type="radio" name="poll15" value="option3" >De acuerdo</label>
              <br>
              <label><input type="radio" name="poll15" value="option4" >Muy de acuerdo</label>
            </div>  
          
          
          <br>
          <br>
          <h2>16. Suelo perder energia enfrascandome en conflictos que me voy encontrando en vez de focalizar esta energia a lo que quiero alcanzar.</h2> 
           
          <div>
          <label><input type="radio" name="poll16" value="option4" >Muy en desacuerdo</label>
             <br>
              <label><input type="radio" name="poll16" value="option3" >En desacuerdo</label>
              <br>
              <label><input type="radio" name="poll16" value="option2" >De acuerdo</label>
              <br>
              <label><input type="radio" name="poll16" value="option1" >Muy de acuerdo</label>
              <br>
           </div> 
          <br>
          <br>
          <h2>17. La personas cercanas a mi(padres, amig@s,pareja...) me felicitan por mis logros, me motivan a seguir con mis objetivos.</h2> 
                  
          <div>  
          <label><input type="radio" name="poll17" value="option1" >Muy en desacuerdo</label>
              <br>
              <label><input type="radio" name="poll17" value="option2" >En desacuerdo</label>
              <br>
              <label><input type="radio" name="poll17" value="option3" >De acuerdo</label>
              <br>
              <label><input type="radio" name="poll17" value="option4" >Muy de acuerdo</label>
          </div>   
          
          <br>
          <br>
          <h2>18. Mi estabilidad emocional está totalmente ligada a algunas personas o a mi identidad dentro de algun grupo(familia,trabajo...).</h2> 
          <div>       
          <label><input type="radio" name="poll18" value="option4" >Muy en desacuerdo</label>
             <br>
              <label><input type="radio" name="poll18" value="option3" >En desacuerdo</label>
              <br>
              <label><input type="radio" name="poll18" value="option2" >De acuerdo</label>
              <br>
              <label><input type="radio" name="poll18" value="option1" >Muy de acuerdo</label>
              <br>
          </div> 
          <br> 
          <br>    
        <input type="submit">
    </form>  
</body>
  </html>