<!DOCTYPE html>
{% load static %}
<html lang="en" dir="ltr">
<head>
    <meta charset="UTF-8">
    <title>Recomendaciones</title>
    <link rel="stylesheet" href="{% static 'style.css' %}">
    <link href="{% static 'test-generico.css' %}" rel="stylesheet">
</head>
<header>
  <div class="container">
    <input type="checkbox" style="display: none;" name="s" id="home" >

    <input type="checkbox" style="display: none;" name="s" id="test" checked>
    <input type="checkbox" style="display: none;" name="s" id="foro">
    <input type="checkbox" style="display: none;" name="s" id="perfil">
    <input type="checkbox" style="display: none;" name="s" id="sugerencias">
    <nav>

      <div class="slider"></div>
    
      
      <label class="home" for="home">
      <a href="http://127.0.0.1:8000/home">
      <i class="fas fa-home"></i>Home
      </a>
      </label> 


      <label class="test" for="test">
      <a href="http://127.0.0.1:8000/poll/"> 
      <i class="fas fa-blog"></i>Test
      </a>
      </label>

      <label class="foro" for="foro">
      <a href="http://127.0.0.1:8000/foro">
      <i class="fas fa-code"></i>Foro
      </a>
      </label>
      <label class="perfil" for="perfil">
      <a href="http://127.0.0.1:8000/perfil">
      <i class="fas fa-user"></i>Perfil
      </a>
      </label>
      <label class="sugerencias" for="sugerencias">
        <a href="http://127.0.0.1:8000/contenido_interes">
      <i class="fas fa-help"></i>Sugerencias
      </a>
      </label>
    
    </nav>
  </div>
  </header>

<body class = "text">
    <br>
    <br>
    <h1>{{consejo}}</h1>
          <br>
          <br>
      
          <h2>1. Cuando tengo que decirle algo importante que no corre prisa a una persona cercana, prefiero esperarme a contarselo en persona.</h2>
            <p> Emplear tus ganas de contarle algo importante a los demás en persona es muy buena práctica para desarrollar tu comunicación audiovisual y expresión sentimental.
                Por otro lado, hacerlo de forma no prensencial por redes sociales pierde mucho en comparación, la comunicación se limita a las herramientas de unas plataformas, dando pie incluso a malinterpretar los mensajes.
                Además, por redes sociales el esfuerzo que requiere expresarnos es mucho menor al no estar la otra persona presente, en definitiva, es la forma menos útil de aprender a comunicarnos y expresarnos mejor.</p>          
              
          <br>
          <br>
          <h2>2. En mis perfiles publico muchas cosas que están de moda, sin preguntarme si realmente me gustan o encajan en mi personalidad.</h2>
          <p>Publicar cosas que no nos terminan de gustar por motivos como: que esté de moda, que la persona que admiro lo hace, etcétera..., normalmente acaba desembocando en un conflicto de personalidad.
            Publica lo que te guste y apasione, intenta ser la persona que quieres ser y no la que quieran los demás, pues lo más importante es estar a gusto contigo mismo.
            Porque por mucho que puedan ser populares tus publicaciones y te elogien, sabiendo que en el fondo no eres así, ¿cómo te sentirías?, ¿no te gustaría qué te respetaran por la persona que eres?.</p>
              
             
          <br>
          <br>
          <h2>3. Si mis publicaciones en redes sociales no tienen el feedback que me esperaba o me hubiera gustado me siento ignorad@/aislad@.</h2> 
             
          <p>Está bien tener expectativas, tener ilusión de que los demás vean y opinen sobre tus publicaciones, el problema ocurre cuando construyes tu nivel de autoestima sobre esas expectativas,
            de forma que si no se cumplen te sientes triste, decepcionado, etcétera..., lo cual es completamente normal, nos pueden afectar las cosas, pero por amor, respeto y comprensión a ti mismo no bases tu dependencia emocional en estas expectativas.
            Además, hay muchas personas que ante esta cuestión deciden negarse tener expectativas sobre todo. Esta es una elección muy triste, no te prives de sentir ilusión, ganas, etcétera..., eres una persona, no una máquina.</p>
            
           
          <br>
          <br>
          <h2>4. Cuando alguien me llama la atención, espero a conocerl@ en persona antes que formarme una opinión en base a sus perfiles en redes sociales.</h2> 
                  
          <p>No hay mejor manera de conocer a alguien que en persona. Sin embargo hay personas que se comunican mejor por redes sociales y que no se muestran tal y cuando están presentes, pero esto también es su forma de ser, y esto se descubre al estar con ell@s en persona.
            Además, son much@s l@s que no se identifican como son en las redes sociales, en definitiva, la versión más actual y auténtica es la que muestran al estar presentes. Por otro lado, el juicio que puedas sacar de esta búsqueda en las redes sociales puede resultar un impedimento para entender a los demás,
            primero porque puede no ser cierto, y segundo porque hay veces en las que para convencerte de que esa idea que tienes de la otra persona es verdad comienzas a juzgar todas sus decisiones basándote en esa imagen, para quedarte tranquilo, ya que las personas solemos encontrar tranquilidad y seguridad en aquello que podemos clasificar y entender.</p>
        
          <br>     
          <br>
          <h2>5. En las quedadas con mis amig@s evito utilizar el movil, a no ser que se trate de un asunto urgente.</h2> 
                  
         <p> Es muy común que al mínimo momento de aburrimiento se usen los móviles al quedar con amig@s. Sin embargo, has quedado con ell@s para disfrutar, relajarte, etcétera..., hacer un esfuerzo para comunicarte con los demás es una excelente práctica para desarrollar tus habilidades sociales,
            por ejemplo, escuchar a los demás, preguntarles que tal les va, intentar participar en las conversaciones aunque no tengan un relación directa contigo. Y es normal sentir vergüenza o pereza al principio, pero es algo que se desarrolla practicando y de lo que te acabarás sintiendo orgullos@ con el tiempo.
            Además, intentar mejorar en esto tiene un efecto reciproco de los demás hacia ti y entre ell@s, por ejemplo, escuchar atentamente a la otra persona va a hacer que se sienta escuchad@ y a gusto hablando contigo, por lo tanto seguramente haga un esfuerzo por escucharte a ti cuando le tengas que decir algo.
            En conclusión, hacer un esfuerzo por desarrollar tus habilidades sociales como puede ser no coger el móvil sin motivo urgente es no solo una buena practica para ti, sino que promueves un ambiente más cómodo para que los otros lo hagan también.</p>    
                     
          
          <br>    
          <br>
          <h2>6. En ocasiones, no publico o borro contenido en mis redes sociales por verguenza a lo que puedan pensar los demás.</h2> 
                  
          <p>Cuando no publicas cosas que te gustan por miedo al rechazo, vergüenza, etcétera..., hay un problema. Al único al que le tiene que gustar lo que publica es a ti, si a los demás no les gusta no tienes por qué cambiar tu forma de ser o no publicarlo.
            A veces esto proviene de un sentimiento de compromiso con tus seguidores, es decir, publicar con tal de contentarles, es muy noble querer hacer que los demás se sientan bien pero el gran inconveniente es que de esta manera no estás trabajando en buscar tu felicidad, sino en la de los demás por encima de la tuya. Intenta primero pensar en ti y luego en rodearte de personas que te acepten y respeten.
          </p>

          <br>    
          <br>
          <h2>7. Siento que usando redes sociales como Whatsapp expreso mejor mis sentimientos y consigo que los demás los comprendan mejor que en persona.</h2> 
                  
          <p>Comunicarse mejor por redes sociales es algo bastante común hoy en día, ya que las utilizamos mucho tiempo para multitud de cosas. Pero esto no es algo que tenga que impedir desarrollar tus habilidades sociales. De hecho, puedes comunicarte muy bien en ambas.
            Tener delante a la persona con la que estás hablando es importantísimo, sí, es mucho más complicado abrirte a los demás en persona, pero es super recomendable hacer un esfuerzo, permítete emocionarte, expresar deseos e ilusiones, resolver conflictos, etc...
            Además, hacer esto suele tener un efecto dominó en las personas que te rodean, porque sienten en ti alguien con quien poder desahogarse y hablar, a la hora de la verdad hazte la siguiente pregunta: ¿cuántos de tus problemas: familiares, de pareja, con amig@s, del trabajo, etcétera...., se podrían solucionar con una mejor comunicación?.</p>   
          
          <br>    
          <br>
          <h2>8. A diario siento impulsos de utilizar el teléfono, sin motivos para hacerlo.</h2> 
                  <p>Esto es una señal de que tenemos cierto grado de adicción a las redes sociales, esperamos continuamente que nos hablen, nos solemos poner al servicio de los demás en el momento que sea, desplazando a nuestra familia, amigos, etcétera..., a un plano secundario,
                    ¿te ha pasado alguna vez que te estaba hablando alguien y has escuchado un WhatsApp, miras quien es y contestas sin que realmente sea algo urgente, y al final no terminas de comprender lo que te estaba diciendo tu amig@? E incluso intentas hacer las dos cosas a la vez y tampoco le dices a esa persona en WhatsApp lo que le querías decir, finalmente malinterpretándose.
                    Es muy noble querer responder a los demás para lo que necesiten, el problema ocurre cuando superponemos eso a las personas que nos rodean, o incluso cuando anteponemos eso nuestra propia comodidad y tranquilidad, por ejemplo, estás muy relajado y te llega un mensaje, en vez de decir: a ver quien es tengo que cogerlo, date un respiro y responde cuando puedas.
                    Por otro lado, hay muchas personas que sienten obligación hacia el móvil ya que nunca se sabe si se trata de algo urgente, entonces, ¿vas a estar pendiente las 24 horas por si ocurre algo?, no te esclavices al móvil, es una herramienta para facilitarte la vida, no complicarla (sin pensar ejemplos particulares).</p>
          
          <br>
          <br>
          <h2>9. No me afectan las opiniones y críticas malintencionadas de personas que no conozco en las redes sociales.</h2> 
                  
             <p> En redes sociales hay miles de personas que se dedican a ser tóxicos por diversión, o como una forma de dejar salir todo ese odio, estrés, ira, etcétera..., que han ido almacenando.
                Seguirles el juego es una manera muy dañina de encauzar tu energía, intenta emplearla en escuchar y discutir con aquell@s que te importan o que, aunque no los conozcas, te hablen de forma constructiva y respetuosa.
                Es decir, centrate en considerar las opiniones que te ayuden a crecer como persona.
            </p>
          
          
          <br> 
          <br>
          <h2>10. La persona que muestro en mis redes sociales, soy yo mism@.</h2> 

          <p>Esta cuestión está enfocada a aquell@s que acaban siendo una persona diferente por redes sociales debido a influencias de los demás, lo más importante para tú autoestima es que estés a gusto contigo mismo, por lo tanto, aunque se te pueda dar muy bien mostrar otra faceta diferente a la tuya, en el fondo sabes que no eres así y tienes que poner esfuerzo para ocultar tu verdadero yo.
            Por el lado contrario, ser tu mismo no cuesta un esfuerzo extra pues así es como eres, es tu versión más auténtica y con la que vas a ser más feliz. Por supuesto esto no quita que si hay algo que no te guste de ti puedas mejorarlo.
            Y como el uso de las redes sociales es de las actividades a las que se emplea más tiempo a diario es muy importante que seas realmente tú en ellas, cuanto más tiempo no tengas que pretender ser otra persona más ganas en salud mental.
            Sin embargo, es fundamental saber que más relevante que ser tu en las redes sociales es ser tu en persona, con tu familia, amigos, compañeros de trabajo, etc... Una vez que avances en esto te será mucho más sencillo en redes sociales.</p>

          <br>
          <br> 
        
</body>
  </html>