<!DOCTYPE html>
{% load static %}
<html lang="en" dir="ltr">
<head>
  <title>Test Satisfacción</title>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{% static 'style.css' %}">
    <link href="{% static 'test-generico.css' %}" rel="stylesheet">
</head>
<header>
    <div class="container">
      <input type="checkbox" style="display: none;" name="s" id="home">
  
      <input type="checkbox" style="display: none;" name="s" id="test" checked>
      <input type="checkbox" style="display: none;" name="s" id="foro">
      <input type="checkbox" style="display: none;" name="s" id="perfil">
      <input type="checkbox" style="display: none;" name="s" id="sugerencias" >
      <nav>
  
        <div class="slider"></div>
      
        
        <label class="home" for="home">
          <a href="http://127.0.0.1:8000/home/"> 
        <i class="fas fa-home"></i>Home
        </a>
        </label>
  
  
        <label class="test" for="test">
  
        <i class="fas fa-blog"></i>Test
        
        </label>
  
        <label class="foro" for="foro">
        <a href="http://127.0.0.1:8000/foro">
        <i class="fas fa-code"></i>Foro
        </a>
        </label>
        <label class="perfil" for="perfil">
        <a href="http://127.0.0.1:8000/perfil">
        <i class="fas fa-user"></i>Perfil
        </a>
        </label>
        <label class="sugerencias" for="sugerencias">
          <a href="http://127.0.0.1:8000/contenido_interes">
        <i class="fas fa-help"></i>Sugerencias
      </a>
        </label>
      </nav>
    </div>
  </header>

<body class = "text">
    <br>
    <br>
    <form action="" method="post">{% csrf_token %}
      
          <h2>1. El diagnóstico que he sacado me parece representativo de como me siento respecto a mi nivel actual de autoestima.</h2>

            <div>
             <label><input type="radio" style="display: inline-block;" name="poll20" value="option1" >Muy en desacuerdo</label>
              <br>
              <label><input type="radio" style="display: inline-block;" name="poll20" value="option2" >En desacuerdo</label>
              <br>
              <label><input type="radio" style="display: inline-block;" name="poll20" value="option3" >De acuerdo</label>
              <br>
              <label><input type="radio" style="display: inline-block;" name="poll20" value="option4" >Muy de acuerdo</label>
            </div>  

          <br>
          <br>
          <h2>2. Los diferentes test me han animado a indagar en mi nivel de autoestima y como mejorarla.</h2>
              
          <div>
             <label><input type="radio" style="display: inline-block;" name="poll21" value="option1" >Muy en desacuerdo</label>
             <br>
              <label><input type="radio" style="display: inline-block;" name="poll21" value="option2" >En desacuerdo</label>
              <br>
              <label><input type="radio" style="display: inline-block;" name="poll21" value="option3" >De acuerdo</label>
              <br>
              <label><input type="radio" style="display: inline-block;" name="poll21" value="option4" >Muy de acuerdo</label>
              <br>
          </div>
          <br>
          <br>
       
        <input type="submit">
    </form>  
</body>
  </html>